{% extends "common.html" %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">요금세트 적용</h1>
    </div>

    <!-- 첫 번째 카드 바디 -->
    <div class="card mb-1 ml-1">
        <div class="card-body">
            • 달력에서 원하는 일자에 드래그 하여 저장 하세요.<br>
            • 달력에 C 표시가 있는 날짜는 요금세트의 객실 타입별 점유율이 설정된 경우입니다.<br>
            • 달력에 M 표시가 있는 날짜는 해당 일자에 2개 이상의 요금세트가 적용된 경우입니다.<br>
            • 요금세트 '일괄적용' 체크 후 세트 적용 시 모든 상품그룹에 일괄 적용됩니다.<br>
        </div>
    </div>

    <div class="row">
        <!-- 좌측 컬럼 -->
        <div class="col-md-4">

            <!-- 상품그룹 -->
            <div class="card mt-4">
                <div class="card-header">
                    상품그룹
                </div>
                <div class="card-body justify-content-center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            Room Only(해외OTA)
                        </button>
                        <div class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Room Only(해외OTA)</a></li>
                            <li><a class="dropdown-item" href="#">Room Only(야놀자)</a></li>
                            <li><a class="dropdown-item" href="#">Room Only(에어비앤비)</a></li>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 요금세트 -->
            <div class="card mt-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div>
                        <span>요금세트</span>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label ml-2" for="flexCheckDefault">일괄적용</label>
                    </div>
                </div>
                <div class="card-body justify-content-center">
                    <div>
                        <!-- 버튼 코드 -->
                        <button type="button" class="btn btn-primary btn ml-3" style="width: 80px;">LV1D</button>
                        <button type="button" class="btn btn-secondary btn ml-3" style="width: 80px;">LV1T</button>
                        <button type="button" class="btn btn-success btn ml-3" style="width: 80px;">LV1F</button>
                        <button type="button" class="btn btn-danger btn ml-3" style="width: 80px;">LV1S</button>
                        <button type="button" class="btn btn-warning btn ml-3 text-dark mt-3" style="width: 80px;">LV2D</button>
                        <button type="button" class="btn btn-info btn ml-3 text-dark mt-3" style="width: 80px;">LV2T</button>
                        <button type="button" class="btn btn-light btn ml-3 text-dark mt-3" style="width: 80px;">LV2F</button>
                        <button type="button" class="btn btn-dark btn ml-3 mt-3" style="width: 80px;">LV2S</button>
                        <button type="button" class="btn btn-primary btn ml-3 mt-3" style="width: 80px;">LV3D</button>
                        <button type="button" class="btn btn-secondary btn ml-3 mt-3" style="width: 80px;">LV3T</button>
                        <button type="button" class="btn btn-success btn ml-3 mt-3" style="width: 80px;">LV3F</button>
                        <button type="button" class="btn btn-danger btn ml-3 mt-3" style="width: 80px;">LV3S</button>
                        <button type="button" class="btn btn-warning btn ml-3 text-dark mt-3" style="width: 80px;">LV4D</button>
                        <button type="button" class="btn btn-info btn ml-3 text-dark mt-3" style="width: 80px;">LV4T</button>
                        <button type="button" class="btn btn-light btn ml-3 text-dark mt-3" style="width: 80px;">LV4F</button>
                        <button type="button" class="btn btn-dark btn ml-3 mt-3" style="width: 80px;">LV4S</button>
                    </div>
                </div>
            </div>

        </div>

        <!-- 우측 컬럼 -->
        <div class="col-md-8">

            <!-- 상품그룹 -->
            <div class="card mt-4">
                <div class="card-header">
                    상품그룹
                </div>
                <div class="card-body justify-content-center">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="mb-3">
                            <button type="button" class="btn  btn btn-light mt-1 mr-3"><i class="fas fa-angle-left"></i></button>
                            <span style="font-size: 18px;">4월</span>
                            <button type="button" class="btn btn-light btn mt-1 ml-3"><i class="fas fa-angle-right"></i></button>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn  btn btn-light">선택</button>
                            <button type="button" class="btn btn-light btn">삭제</button>
                            <button type="button" class="btn btn-light btn">저장</button>
                        </div>
                    </div>
                    
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="90%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="background-color: rgba(0,0,0,0.1);">일</th>
                                    <th style="background-color: rgba(0,0,0,0.1);">월</th>
                                    <th style="background-color: rgba(0,0,0,0.1);">화</th>
                                    <th style="background-color: rgba(0,0,0,0.1);">수</th>
                                    <th style="background-color: rgba(0,0,0,0.1);">목</th>
                                    <th style="background-color: rgba(0,0,0,0.1);">금</th>
                                    <th style="background-color: rgba(0,0,0,0.1);">토</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 150px;">
                                    <td style="color: grey; font-size: small;">31<br><br><button type="button" class="btn btn-primary btn-sm mt-1">LV1D</button></td>
                                    <td style="color: grey; font-size: small;">1<br><br><button type="button" class="btn btn-secondary btn-sm mt-1">LV1T</button></td>
                                    <td style="color: grey; font-size: small;">2<br><br><button type="button" class="btn btn-success btn-sm mt-1">LV1F</button></td>
                                    <td style="color: grey; font-size: small;">3<br><br><button type="button" class="btn btn-danger btn-sm mt-1">LV1S</button></td>
                                    <td style="color: grey; font-size: small;">4<br><br><button type="button" class="btn btn-warning btn-sm mt-1 text-dark">LV2D</button></td>
                                    <td style="color: grey; font-size: small;">5<br><br><button type="button" class="btn btn-info btn-sm mt-1 text-dark">LV2T</button></td>
                                    <td style="color: grey; font-size: small;">6<br><br><button type="button" class="btn btn-light btn-sm mt-1 text-dark">LV2F</button></td>
                                </tr>
                                <tr style="height: 150px;">
                                    <td style="color: grey; font-size: small;">7<br><br><button type="button" class="btn btn-primary btn-sm mt-1">LV1D</button></td>
                                    <td style="color: grey; font-size: small;">8<br><br><button type="button" class="btn btn-secondary btn-sm mt-1">LV1T</button></td>
                                    <td style="color: grey; font-size: small;">9<br><br><button type="button" class="btn btn-success btn-sm mt-1">LV1F</button></td>
                                    <td style="color: grey; font-size: small;">10<br><br><button type="button" class="btn btn-danger btn-sm mt-1">LV1S</button></td>
                                    <td style="color: grey; font-size: small;">11<br><br><button type="button" class="btn btn-warning btn-sm mt-1 text-dark">LV2D</button></td>
                                    <td style="color: grey; font-size: small;">12<br><br><button type="button" class="btn btn-info btn-sm mt-1 text-dark">LV2T</button></td>
                                    <td style="color: grey; font-size: small;">13<br><br><button type="button" class="btn btn-light btn-sm mt-1 text-dark">LV2F</button></td>
                                </tr>
                                <tr style="height: 150px;">
                                    <td style="color: grey; font-size: small;">14<br><br><button type="button" class="btn btn-primary btn-sm mt-1">LV1D</button></td>
                                    <td style="color: grey; font-size: small;">15<br><br><button type="button" class="btn btn-secondary btn-sm mt-1">LV1T</button></td>
                                    <td style="color: grey; font-size: small;">16<br><br><button type="button" class="btn btn-success btn-sm mt-1">LV1F</button></td>
                                    <td style="color: grey; font-size: small;">17<br><br><button type="button" class="btn btn-danger btn-sm mt-1">LV1S</button></td>
                                    <td style="color: grey; font-size: small;">18<br><br><button type="button" class="btn btn-warning btn-sm mt-1 text-dark">LV2D</button></td>
                                    <td style="color: grey; font-size: small;">19<br><br><button type="button" class="btn btn-info btn-sm mt-1 text-dark">LV2T</button></td>
                                    <td style="color: grey; font-size: small;">20<br><br><button type="button" class="btn btn-light btn-sm mt-1 text-dark">LV2F</button></td>
                                </tr>
                                <tr style="height: 150px;">
                                    <td style="color: grey; font-size: small;">21<br><br><button type="button" class="btn btn-primary btn-sm mt-1">LV1D</button></td>
                                    <td style="color: grey; font-size: small;">22<br><br><button type="button" class="btn btn-secondary btn-sm mt-1">LV1T</button></td>
                                    <td style="color: grey; font-size: small;">23<br><br><button type="button" class="btn btn-success btn-sm mt-1">LV1F</button></td>
                                    <td style="color: grey; font-size: small;">24<br><br><button type="button" class="btn btn-danger btn-sm mt-1">LV1S</button></td>
                                    <td style="color: grey; font-size: small;">25<br><br><button type="button" class="btn btn-warning btn-sm mt-1 text-dark">LV2D</button></td>
                                    <td style="color: grey; font-size: small;">26<br><br><button type="button" class="btn btn-info btn-sm mt-1 text-dark">LV2T</button></td>
                                    <td style="color: grey; font-size: small;">27<br><br><button type="button" class="btn btn-light btn-sm mt-1 text-dark">LV2F</button></td>
                                </tr>
                                <tr style="height: 150px;">
                                    <td style="color: grey; font-size: small;">28<br><br><button type="button" class="btn btn-primary btn-sm mt-1">LV1D</button></td>
                                    <td style="color: grey; font-size: small;">29<br><br><button type="button" class="btn btn-secondary btn-sm mt-1">LV1T</button></td>
                                    <td style="color: grey; font-size: small;">30<br><br><button type="button" class="btn btn-success btn-sm mt-1">LV1F</button></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


{% endblock %}
