{% extends "common.html" %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">요금 세트 생성</h1>

    <div class="row">
        <div class="m-4">
            <div class="card mb-1 ml-1">
                <div class="card-body d-flex align-items-center">
                    <span style="margin-right: 40px; font-weight: bold;">상품 그룹 복사</span>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" style="margin-right: 40px; width: 200px;" type="button" data-toggle="dropdown" aria-expanded="false">
                            Room Only(해외OTA)
                        </button>
                        <div class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Room Only(해외OTA)</a></li>
                            <li><a class="dropdown-item" href="#">Room Only(야놀자)</a></li>
                            <li><a class="dropdown-item" href="#">Room Only(에어비앤비)</a></li>
                        </div>
                    </div>
                    <span style="margin-right: 40px">를 Room Only(해외OTA) 로 복사 합니다.</span>
                </div>
                <div class="card-body d-flex align-items-center">
                    <span style="margin-right: 40px; font-weight: bold;">요금복사 시</span>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" style="margin-right: 40px; width: 130px;" type="button" data-toggle="dropdown" aria-expanded="false">
                            조정타입
                        </button>
                        <div class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">금액</a></li>
                            <li><a class="dropdown-item" href="#">비율</a></li>
                        </div>
                    </div>
                    <input type="text" style="font-size: 15px; width: 200px; margin-right: 40px;" placeholder="숫자만 입력">
                    <span style="margin-right: 40px;">* 요금의 증감은 + / - 를 입력하여 설정해주세요.</span>
                    <button class="btn btn-light" style="width: 80px; margin-right: 150px;">복사</button>

                </div>
            </div>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">요금 세트 생성</h6>
        </div>
        <div class="card-body">
            <div style="overflow-x: auto;"></div>
                <div class="table-responsive">
                
                <!-- 테이블 해더 -->
                <!--
                <div class="row">
                    <div class="col-sm-12 col-md-6 table_header">
                        <div class="dataTables_length" id="dataTable_length">
                            <label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="dataTable_filter" class="dataTables_filter">
                            <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                        </div>
                    </div>
                </div>
                -->
                
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="white-space: nowrap;"></th>
                                <th style="white-space: nowrap;">LV1D</th>
                                <th style="white-space: nowrap;">LV1T</th>
                                <th style="white-space: nowrap;">LV1F</th>
                                <th style="white-space: nowrap;">LV1S</th>
                                <th style="white-space: nowrap;">LV2D</th>
                                <th style="white-space: nowrap;">LV2T</th>
                                <th style="white-space: nowrap;">LV2F</th>
                                <th style="white-space: nowrap;">LV2S</th>
                                <th style="white-space: nowrap;">LV3D</th>
                                <th style="white-space: nowrap;">LV3T</th>
                                <th style="white-space: nowrap;">LV3F</th>
                                <th style="white-space: nowrap;">LV3S</th>
                                <th style="white-space: nowrap;">LV4D</th>
                                <th style="white-space: nowrap;">LV4T</th>
                                <th style="white-space: nowrap;">LV4F</th>
                                <th style="white-space: nowrap;">LV4S</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in data_1 %}
                                <tr>
                                    <td style="white-space: nowrap; background-color:#dcbcfd42;">{{ data.room_type }}</td>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv1d }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv1t }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv1f }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv1s }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv2d }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv2t }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv2f }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv2s }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv3d }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv3t }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv3f }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv3s }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv4d }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv4t }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv4f }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv4s }}">
                                    </th>
                                    
                                </tr>
                                {% endfor %}
                        </tbody>
                        <tbody>
                            {% for data in data_2 %}
                                <tr>
                                    <td style="white-space: nowrap; background-color:#dcbcfd42;">{{ data.room_type }}</td>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv1d }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv1t }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv1f }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv1s }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv2d }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv2t }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv2f }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv2s }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv3d }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv3t }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv3f }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv3s }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv4d }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv4t }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv4f }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv4s }}">
                                    </th>
                                    
                                </tr>
                                {% endfor %}
                        </tbody>
                        <tbody>
                            {% for data in data_3 %}
                                <tr>
                                    <td style="white-space: nowrap; background-color:#dcbcfd42;">{{ data.room_type }}</td>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv1d }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv1t }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv1f }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv1s }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv2d }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv2t }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv2f }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv2s }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv3d }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv3t }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv3f }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv3s }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv4d }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv4t }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv4f }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv4s }}">
                                    </th>
                                    
                                </tr>
                                {% endfor %}
                        </tbody>
                        <tbody>
                            {% for data in data_4 %}
                                <tr>
                                    <td style="white-space: nowrap; background-color:#dcbcfd42;">{{ data.room_type }}</td>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv1d }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv1t }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv1f }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv1s }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv2d }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv2t }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv2f }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv2s }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv3d }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv3t }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv3f }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv3s }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv4d }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv4t }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv4f }}">
                                    </th>
                                    <th>
                                        <input type="text" style="width: 80px; font-size: 15px;" value="{{ data.lv4s }}">
                                    </th>
                                    
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <span>서비스코드 설정</span>
            <button type="button" class="btn btn-secondary btn-sm mx-4"><i class="fas fa-fw fa-cog mr-2"></i>관리</button>
        </div>
        <div class="card-body justify-content-center">
            채널을 통해서 발생한 예약의 서비스코드를 분개하려면 [관리]버튼을 클릭하여 서비스코드를 입력해주세요.<br>
            해당 기능 설정 시 상품그룹에 매핑된 상품으로 예약이 들어올경우 설정한 서비스코드와 객실료를 분개하여 시스템에 전송합니다.
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            채널에 요금전송 시 최저요금 / 최대 요금을 지정하면, 설정된 요금 이하 / 이상으로 요금을 입력했을 경우 전송에러가 발생합니다.
        </div>
        <div class="card-body justify-content-center">
            <div>
                <div class="form-check">
                    <span class="mr-3">최저 요금 설정</span>
                    <input type="text" value="200,000">
                </div>
                <div class="form-check mt-3">
                    <span class="mr-3">최고 요금 설정</span>
                    <input type="text">
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary btn btn-block mt-5">저장</button>


</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


{% endblock %}