{% extends "common.html" %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">시스템 관리 히스토리</h1>

    <div class="m-4">
        <div class="card mb-4">
            <div class="card-body d-flex align-items-center" style="width: 100%;">
                <span style="margin-right: 20px; font-weight: bold;">접속일자</span>
                <input type="text" style="width: 150px; font-size: 15px; margin-right: 10px;" value="2024-04-05">
                <span style="margin-right: 10px;">~</span>
                <input type="text" style="width: 150px; font-size: 15px; margin-right: 30px;" value="2024-04-09">
                <span style="margin-right: 30px;">|</span>
                <span style="margin-right: 40px; font-weight: bold;">프로퍼티명</span>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" style="margin-right: 40px; width: 150px;" type="button" data-toggle="dropdown" aria-expanded="false">
                            유에이치 종로
                        </button>
                        <div class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">유에이치 종로</a></li>
                            <li><a class="dropdown-item" href="#">유에이치 명동</a></li>
                            <li><a class="dropdown-item" href="#">유에이치 해운대</a></li>
                        </div>
                    </div>
                <button class="btn btn-light" style="width: 80px; margin-left: 200px;">조회</button>

                
            </div>
        </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        

        <div class="row justify-content-center">
            <div class="btn-group btn-group-sm me-2 mt-4 mx-4" role="group" aria-label="First group" style="width: 50%;">
                <button type="button" class="btn btn-outline-secondary">프로그램 사용 이력</button>
                <button type="button" class="btn btn-outline-secondary">사용자 로그인 이력</button>
                <button type="button" class="btn btn-outline-secondary">사용자권한 변경 이력</button>
            </div>
        </div>
        


        <div class="card-body mt-3">
            <div class="table-responsive">
                <!-- 테이블 해더 -->
                <!--
                <div class="row">
                    <div class="col-sm-12 col-md-6 table_header">
                        <div class="dataTables_length" id="dataTable_length">
                            <label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="dataTable_filter" class="dataTables_filter">
                            <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                        </div>
                    </div>
                </div>
                -->
                
                <table class="table table-bordered display" id="example" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="background-color: rgba(0,0,0,0.1);">사용자 ID</th>
                            <th style="background-color: rgba(0,0,0,0.1);">사용자 명</th>
                            <th style="background-color: rgba(0,0,0,0.1);">접속 일자</th>
                            <th style="background-color: rgba(0,0,0,0.1);">프로그램 명</th>
                            <th style="background-color: rgba(0,0,0,0.1);">처리 구분</th>
                            <th style="background-color: rgba(0,0,0,0.1);">처리 내용</th>
                            <th style="background-color: rgba(0,0,0,0.1);">사용자 IP</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in paging %}
                        <tr>
                            <td>{{ item.user_id }}</td>
                            <td>{{ item.user_name }}</td>
                            <td>{{ item.connection_date }}</td>
                            <td>{{ item.program_name }}</td>
                            <td>{{ item.process }}</td>
                            <td>{{ item.pricess_content }}</td>
                            <td>{{ item.user_ip }}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}