{% extends "common.html" %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">입실 예정 목록</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">입실 예정 목록</h6>
        </div>
        <div class="card-body">
            <div style="overflow-x: auto;"></div>
                <div class="table-responsive">
                
                <!-- 테이블 해더 -->
                <!--
                <div class="row">
                    <div class="col-sm-12 col-md-6 table_header">
                        <div class="dataTables_length" id="dataTable_length">
                            <label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="dataTable_filter" class="dataTables_filter">
                            <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                        </div>
                    </div>
                </div>
                -->
                
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="white-space: nowrap;">기능</th>
                                <th style="white-space: nowrap;">객실번호</th>
                                <th style="white-space: nowrap;">고객명</th>
                                <th style="white-space: nowrap;">입실일자</th>
                                <th style="white-space: nowrap;">입실시간</th>
                                <th style="white-space: nowrap;">퇴실일자</th>
                                <th style="white-space: nowrap;">박수</th>
                                <th style="white-space: nowrap;">객실타입</th>
                                <th style="white-space: nowrap;">객실료</th>
                                <th style="white-space: nowrap;">서비스</th>
                                <th style="white-space: nowrap;">총객실료</th>
                                <th style="white-space: nowrap;">거래처명</th>
                                <th style="white-space: nowrap;">요금타입</th>
                                <th style="white-space: nowrap;">시장</th>
                                <th style="white-space: nowrap;">예약경로</th>
                                <th style="white-space: nowrap;">국적</th>
                                <th style="white-space: nowrap;">휴대폰</th>
                                <th style="white-space: nowrap;">비고</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><button type="button" class="btn btn-light btn-sm" style="white-space: nowrap;">예약</button></td>
                                <td style="white-space: nowrap;">0301</td>
                                <td style="white-space: nowrap;">김지원</td>
                                <td style="white-space: nowrap;">2024-04-03</td>
                                <td style="white-space: nowrap;">10:45</td>
                                <td style="white-space: nowrap;">2024-04-09</td>
                                <td style="white-space: nowrap;">5</td>
                                <td style="white-space: nowrap;">DTS</td>
                                <td style="white-space: nowrap;">540,000</td>
                                <td style="white-space: nowrap;">0</td>
                                <td style="white-space: nowrap;">540,000</td>
                                <td style="white-space: nowrap;">야놀자</td>
                                <td style="white-space: nowrap;">TRA</td>
                                <td style="white-space: nowrap;">OTA</td>
                                <td style="white-space: nowrap;">CMS</td>
                                <td style="white-space: nowrap;">KOR</td>
                                <td style="white-space: nowrap;">010-1233-1234</td>
                                <td style="white-space: nowrap;">-</td>
                                
                            </tr>
                            <tr>
                                <td><button type="button" class="btn btn-light btn-sm" style="white-space: nowrap;">예약</button></td>
                                <td style="white-space: nowrap;">0201</td>
                                <td style="white-space: nowrap;">김하은</td>
                                <td style="white-space: nowrap;">2024-04-01</td>
                                <td style="white-space: nowrap;">16:45</td>
                                <td style="white-space: nowrap;">2024-04-05</td>
                                <td style="white-space: nowrap;">4</td>
                                <td style="white-space: nowrap;">DTS</td>
                                <td style="white-space: nowrap;">280,000</td>
                                <td style="white-space: nowrap;">0</td>
                                <td style="white-space: nowrap;">280,000</td>
                                <td style="white-space: nowrap;">익스피디아</td>
                                <td style="white-space: nowrap;">TRA</td>
                                <td style="white-space: nowrap;">OTA</td>
                                <td style="white-space: nowrap;">CMS</td>
                                <td style="white-space: nowrap;">KOR</td>
                                <td style="white-space: nowrap;">010-1233-1234</td>
                                <td style="white-space: nowrap;">가족4명</td>
                                
                            </tr>
                            <tr>
                                <td><button type="button" class="btn btn-light btn-sm" style="white-space: nowrap;">예약</button></td>
                                <td style="white-space: nowrap;">0201</td>
                                <td style="white-space: nowrap;">James Kim</td>
                                <td style="white-space: nowrap;">2024-04-01</td>
                                <td style="white-space: nowrap;">16:45</td>
                                <td style="white-space: nowrap;">2024-04-05</td>
                                <td style="white-space: nowrap;">4</td>
                                <td style="white-space: nowrap;">DTS</td>
                                <td style="white-space: nowrap;">280,000</td>
                                <td style="white-space: nowrap;">0</td>
                                <td style="white-space: nowrap;">280,000</td>
                                <td style="white-space: nowrap;">익스피디아</td>
                                <td style="white-space: nowrap;">TRA</td>
                                <td style="white-space: nowrap;">OTA</td>
                                <td style="white-space: nowrap;">CMS</td>
                                <td style="white-space: nowrap;">KOR</td>
                                <td style="white-space: nowrap;">010-1233-1234</td>
                                <td style="white-space: nowrap;">가족4명</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


{% endblock %}