{% extends "common.html" %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">익스프레스</h1>

    <div class="row">
        <div class="m-4">
            <div class="card mb-1 ml-1">
                <div class="card-body d-flex align-items-center">
                    <span style="margin-right: 40px; font-weight: bold;">프로퍼티명</span>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" style="margin-right: 40px;" type="button" data-toggle="dropdown" aria-expanded="false">
                            유에이치 종로
                        </button>
                        <div class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">유에이치 종로</a></li>
                            <li><a class="dropdown-item" href="#">유에이치 명동</a></li>
                            <li><a class="dropdown-item" href="#">유에이치 해운대</a></li>
                        </div>
                    </div>
                    <span style="margin-right: 40px;">|</span>
                    <span style="margin-right: 40px; font-weight: bold;">시작일자</span>
                    <input type="text" style="font-size: 15px;" value="2024-04-05">
                    <i class="fas fa-calendar-days"></i>
                    <button class="btn btn-light" style="width: 80px; margin-left: 200px;">예약</button>
                    <button class="btn btn-light ml-3" style="width: 80px;">입실</button>
                    <button class="btn btn-light ml-3" style="width: 80px; margin-right: 50px;">퇴실</button>

                </div>
            </div>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">익스프레스</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <!-- 테이블 해더 -->
                <!--
                <div class="row">
                    <div class="col-sm-12 col-md-6 table_header">
                        <div class="dataTables_length" id="dataTable_length">
                            <label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="dataTable_filter" class="dataTables_filter">
                            <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                        </div>
                    </div>
                </div>
                -->
                
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="background-color: rgba(0,0,0,0.1);">층</th>
                            <th style="background-color: rgba(0,0,0,0.1);">객실번호</th>
                            <th style="background-color: rgba(0,0,0,0.1);">타입</th>
                            <th style="background-color: rgba(0,0,0,0.1);">상태</th>
                            <th style="background-color: rgba(0,0,0,0.1);">04/01 월</th>
                            <th style="background-color: rgba(0,0,0,0.1);">04/02 화</th>
                            <th style="background-color: rgba(0,0,0,0.1);">04/03 수</th>
                            <th style="background-color: rgba(0,0,0,0.1);">04/04 목</th>
                            <th style="background-color: rgba(0,0,0,0.1);">04/05 금</th>
                            <th style="background-color: rgba(0,0,0,0.1);">04/06 토</th>
                            <th style="background-color: rgba(0,0,0,0.1);">04/07 일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ room_0.floor }}</td>
                            <td>{{ room_0.room_number }}</td>
                            <td>{{ room_0.type }}</td>
                            <td><span class="badge bg-secondary">{{ room_0.status }}</span></td>
                            <td></td>
                            <td></td>
                            <td style="background-color: #99c0ff;">&nbsp; Jame Kim</td>
                            <td style="background-color: #99c0ff;">&nbsp;</td>
                            <td style="background-color: #99c0ff;">&nbsp;</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{ room_1.floor }}</td>
                            <td>{{ room_1.room_number }}</td>
                            <td>{{ room_1.type }}</td>
                            <td><span class="badge bg-secondary">{{ room_1.status }}</span></td>
                            <td style="background-color: #ffe699;">&nbsp; Paul Patrick</td>
                            <td style="background-color: #ffe699;">&nbsp;</td>
                            <td style="background-color: #ffe699;">&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{ room_2.floor }}</td>
                            <td>{{ room_2.room_number }}</td>
                            <td>{{ room_2.type }}</td>
                            <td><span class="badge bg-secondary">{{ room_2.status }}</span></td>
                            <td></td>
                            <td style="background-color: #99c0ff;">&nbsp; Nakashima</td>
                            <td style="background-color: #99c0ff;">&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{ room_3.floor }}</td>
                            <td>{{ room_3.room_number }}</td>
                            <td>{{ room_3.type }}</td>
                            <td><span class="badge bg-secondary">{{ room_3.status }}</span></td>
                            <td></td>
                            <td></td>
                            <td style="background-color: #ffe699;">&nbsp; Ulrik Grönvall</td>
                            <td style="background-color: #ffe699;">&nbsp;</td>
                            <td style="background-color: #ffe699;">&nbsp;</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{ room_4.floor }}</td>
                            <td>{{ room_4.room_number }}</td>
                            <td>{{ room_4.type }}</td>
                            <td><span class="badge bg-secondary">{{ room_4.status }}</span></td>
                            <td></td>
                            <td style="background-color: #99c0ff;">&nbsp; Hui Lim</td>
                            <td style="background-color: #99c0ff;">&nbsp;</td>
                            <td style="background-color: #99c0ff;">&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{ room_5.floor }}</td>
                            <td>{{ room_5.room_number }}</td>
                            <td>{{ room_5.type }}</td>
                            <td><span class="badge bg-secondary">{{ room_5.status }}</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="background-color: #ffe699;">&nbsp; JAI KIYOTAKA</td>
                            <td style="background-color: #ffe699;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>{{ room_6.floor }}</td>
                            <td>{{ room_6.room_number }}</td>
                            <td>{{ room_6.type }}</td>
                            <td><span class="badge bg-secondary">{{ room_6.status }}</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="background-color: #99c0ff;">&nbsp; Marcelina Lianto	</td>
                            <td style="background-color: #99c0ff;">&nbsp;</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{ room_7.floor }}</td>
                            <td>{{ room_7.room_number }}</td>
                            <td>{{ room_7.type }}</td>
                            <td><span class="badge bg-secondary">{{ room_7.status }}</span></td>
                            <td></td>
                            <td></td>
                            <td style="background-color: #ffe699;">&nbsp; Paul Patrick</td>
                            <td style="background-color: #ffe699;">&nbsp;</td>
                            <td style="background-color: #ffe699;">&nbsp;</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    

</div>
<!-- /.container-fluid -->


{% endblock %}