{% extends "common.html" %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">일 마감</h1>

    <div class="row">
        <div class="m-4">
            <div class="card mb-1 ml-1">
                <div class="card-body d-flex align-items-center">
                    <span style="margin-right: 40px; font-weight: bold;">사업장</span>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" style="margin-right: 40px; width: 130px;" type="button" data-toggle="dropdown" aria-expanded="false">
                            유에이치 종로
                        </button>
                        <div class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">유에이치 종로</a></li>
                            <li><a class="dropdown-item" href="#">유에이치 명동</a></li>
                            <li><a class="dropdown-item" href="#">유에이치 해운대</a></li>
                        </div>
                    </div>
                    <span style="margin-right: 40px;">|</span>
                    <span style="margin-right: 20px; font-weight: bold;">영업일자</span>
                    <input type="text" style="font-size: 15px; width: 100px; margin-right: 450px;" value="2024-04-05">
                    <button class="btn btn-light" style="width: 80px; margin-right: 100px;">조회</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">마감</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <!-- 테이블 해더 -->
                    <!--
                    <div class="row">
                        <div class="col-sm-12 col-md-6 table_header">
                            <div class="dataTables_length" id="dataTable_length">
                                <label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="dataTable_filter" class="dataTables_filter">
                                <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                            </div>
                        </div>
                    </div>
                    -->
                    
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>업무명</th>
                                <th>상태</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in paging %}
                            <tr>
                                <td>{{ item.task_number }}</td>
                                <td>{{ item.task_name }}</td>
                                <td>{{ item.task_status }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    <!-- Table2 -->
    <div class="col-lg-6 mb-4">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">업무명</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <!-- 테이블 해더 -->
                    <!--
                    <div class="row">
                        <div class="col-sm-12 col-md-6 table_header">
                            <div class="dataTables_length" id="dataTable_length">
                                <label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="dataTable_filter" class="dataTables_filter">
                                <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                            </div>
                        </div>
                    </div>
                    -->
                    
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>업무명</th>
                                <th>보기</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in task_1 %}
                            <tr>
                                <td>{{ item.task_number }}</td>
                                <td>{{ item.task_name }}</td>
                                <td><button type="button" class="btn btn-light btn-sm">보기</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Table3 -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">보고 및 현황</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <!-- 테이블 해더 -->
                        <!--
                        <div class="row">
                            <div class="col-sm-12 col-md-6 table_header">
                                <div class="dataTables_length" id="dataTable_length">
                                    <label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="dataTable_filter" class="dataTables_filter">
                                    <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                                </div>
                            </div>
                        </div>
                        -->
                        
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>업무명</th>
                                    <th>보기</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in task_2 %}
                                    <tr>
                                        <td>{{ item.task_number }}</td>
                                        <td>{{ item.task_name }}</td>
                                        <td><button type="button" class="btn btn-light btn-sm">보기</button></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

    </div>

</div>
<!-- End of Main Content -->
{% endblock %}