{% extends "common.html" %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">예약 목록</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">예약 목록</h6>
        </div>
        <div class="card-body">
            <div style="overflow-x: auto;"></div>
                <div class="table-responsive">
                
                <!-- 테이블 해더 -->
                <!--
                <div class="row">
                    <div class="col-sm-12 col-md-6 table_header">
                        <div class="dataTables_length" id="dataTable_length">
                            <label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="dataTable_filter" class="dataTables_filter">
                            <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                        </div>
                    </div>
                </div>
                -->
                
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="white-space: nowrap;">상태</th>
                                <th style="white-space: nowrap;">예약번호</th>
                                <th style="white-space: nowrap;">객실번호</th>
                                <th style="white-space: nowrap;">고객명</th>
                                <th style="white-space: nowrap;">입실일자</th>
                                <th style="white-space: nowrap;">퇴실일자</th>
                                <th style="white-space: nowrap;">박수</th>
                                <th style="white-space: nowrap;">객실타입</th>
                                <th style="white-space: nowrap;">객실료</th>
                                <th style="white-space: nowrap;">서비스</th>
                                <th style="white-space: nowrap;">총객실료</th>
                                <th style="white-space: nowrap;">거래처명</th>
                                <th style="white-space: nowrap;">요금타입</th>
                                <th style="white-space: nowrap;">시장</th>
                                <th style="white-space: nowrap;">예약경로</th>
                                <th style="white-space: nowrap;">휴대폰</th>
                                <th style="white-space: nowrap;">비고</th>
                                <th style="white-space: nowrap;">VIP 게스트</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in paging %}
                            <tr>
                                <td style="white-space: nowrap;">{{ item.reservation_status }}</td>
                                <td style="white-space: nowrap;">{{ item.reservation_number }}</td>
                                <td style="white-space: nowrap;">{{ item.room.room_number}}</td>
                                <td style="white-space: nowrap;">{{ item.guest_name}}</td>
                                <td style="white-space: nowrap;">{{ item.check_in_date}}</td>
                                <td style="white-space: nowrap;">{{ item.check_out_date}}</td>
                                <td style="white-space: nowrap;"> {{ item.length_of_stay }}</td>
                                <td style="white-space: nowrap;">{{ item.room.type }}</td>
                                <td style="white-space: nowrap;">{{ item.room.price }}</td>
                                <td style="white-space: nowrap;"> {{ item.services }}</td>
                                <td style="white-space: nowrap;"> {{ item.total_room_charge }}</td>
                                <td style="white-space: nowrap;">{{ item.vendor_name  }}</td>
                                <td style="white-space: nowrap;">{{ item.rate_type }}</td>
                                <td style="white-space: nowrap;">{{ item.market_segment }}</td>
                                <td style="white-space: nowrap;">{{ item.reservation_path }}</td>
                                <td style="white-space: nowrap;">{{ item.phone_number }}</td>
                                <td style="white-space: nowrap;">{{ item.remarks }}</td>
                                <td style="white-space: nowrap;">{{ item.vip_guest }}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->



{% endblock %}