{% extends "common.html" %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">객실 상황 표</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">객실 상황 표</h6>
        </div>

        <div class="row justify-content-center">
            <div class="dropdown">
                <button class="btn btn-sm btn-secondary dropdown-toggle mt-4 ml-3" style="margin-right: 40px; width: 170px;" type="button" data-toggle="dropdown" aria-expanded="false">
                    유에이치 종로
                </button>
                <div class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">유에이치 종로</a></li>
                    <li><a class="dropdown-item" href="#">유에이치 명동</a></li>
                    <li><a class="dropdown-item" href="#">유에이치 해운대</a></li>
                </div>
            </div>
            <div class="btn-group btn-group-sm me-2 mt-4 mx-4" role="group" aria-label="First group" style="width: 20%;">
                <button type="button" class="btn btn-outline-secondary">본관</button>
                <button type="button" class="btn btn-outline-secondary">별관</button>
                <button type="button" class="btn btn-outline-secondary">신관</button>
            </div>
            <div class="btn-group btn-group-sm me-2 mt-4 mx-4" role="group" aria-label="First group" style="width: 50%;">
                <button type="button" class="btn btn-outline-secondary">1층</button>
                <button type="button" class="btn btn-outline-secondary">2층</button>
                <button type="button" class="btn btn-outline-secondary">3층</button>
                <button type="button" class="btn btn-outline-secondary">4층</button>
                <button type="button" class="btn btn-outline-secondary">5층</button>
                <button type="button" class="btn btn-outline-secondary">6층</button>
                <button type="button" class="btn btn-outline-secondary">7층</button>
            </div>
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <!-- 테이블 해더 -->
                <!--
                <div class="row">
                    <div class="col-sm-12 col-md-6 table_header">
                        <div class="dataTables_length" id="dataTable_length">
                            <label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="dataTable_filter" class="dataTables_filter">
                            <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                        </div>
                    </div>
                </div>
                -->
                
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="background-color: rgba(0,0,0,0.1);">층</th>
                            <th style="background-color: rgba(0,0,0,0.1);">객실번호</th>
                            <th style="background-color: rgba(0,0,0,0.1);">타입</th>
                            <th style="background-color: rgba(0,0,0,0.1);">상태</th>
                            <th style="background-color: rgba(0,0,0,0.1);">기간</th>
                            <th style="background-color: rgba(0,0,0,0.1);">요금</th>
                            <th style="background-color: rgba(0,0,0,0.1);">상세보기</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in paging %}
                        <tr>
                            <td>{{ item.room.floor }}</td>
                            <td>{{ item.room.room_number }}</td>
                            <td>{{ item.room.type }}</td>
                            <td><span class="badge bg-info">{{ item.room.status }}</span></td>
                            <td>{{ item.check_in_date }} - {{ item.check_out_date }}</td>
                            <td>{{item.room.price}}</td>
                            <td><button type="button" class="btn btn-light btn-sm detailButton" data-toggle="modal" data-target="#detailModal" data-guest-name="{{ item.guest_name }}" data-check-in-date="{{ item.check_in_date }}" data-check-out-date="{{ item.check_out_date }}">상세보기</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="detailModalLabel">상세 정보</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <!-- 상세 정보 표시 -->
                <p>이름: <span id="guestName"></span></p>
                <p>체크인 날짜: <span id="checkInDate"></span></p>
                <p>체크아웃 날짜: <span id="checkOutDate"></span></p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<script>
    // 상세보기 모달이 열릴 때 실행되는 함수
    $('#detailModal').on('show.bs.modal', function (event) {
        // 클릭한 버튼에 연결된 데이터를 가져옵니다.
        var button = $(event.relatedTarget); // 클릭한 버튼
        var guestName = button.data('guest-name'); // 게스트 이름
        var checkInDate = button.data('check-in-date'); // 체크인 날짜
        var checkOutDate = button.data('check-out-date'); // 체크아웃 날짜

        // 모달에 데이터를 표시합니다.
        var modal = $(this);
        modal.find('#guestName').text(guestName);
        modal.find('#checkInDate').text(checkInDate);
        modal.find('#checkOutDate').text(checkOutDate);
    });
</script>


{% endblock %}