{% extends "common.html" %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">객실 상황 표</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">객실 상황 표</h6>
        </div>

        <div class="row justify-content-center">
            <div class="btn-group btn-group-sm me-2 mt-4 mx-4" role="group" aria-label="First group" style="width: 20%;">
                <button type="button" class="btn btn-outline-secondary">본관</button>
                <button type="button" class="btn btn-outline-secondary">별관</button>
                <button type="button" class="btn btn-outline-secondary">신관</button>
            </div>
            <div class="btn-group btn-group-sm me-2 mt-4 mx-4" role="group" aria-label="First group" style="width: 50%;">
                <button type="button" class="btn btn-outline-secondary">1층</button>
                <button type="button" class="btn btn-outline-secondary">2층</button>
                <button type="button" class="btn btn-outline-secondary">3층</button>
                <button type="button" class="btn btn-outline-secondary">4층</button>
                <button type="button" class="btn btn-outline-secondary">5층</button>
                <button type="button" class="btn btn-outline-secondary">6층</button>
                <button type="button" class="btn btn-outline-secondary">7층</button>
            </div>
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <!-- 테이블 해더 -->
                <!--
                <div class="row">
                    <div class="col-sm-12 col-md-6 table_header">
                        <div class="dataTables_length" id="dataTable_length">
                            <label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="dataTable_filter" class="dataTables_filter">
                            <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                        </div>
                    </div>
                </div>
                -->
                
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="background-color: rgba(0,0,0,0.1);">층</th>
                            <th style="background-color: rgba(0,0,0,0.1);">객실번호</th>
                            <th style="background-color: rgba(0,0,0,0.1);">타입</th>
                            <th style="background-color: rgba(0,0,0,0.1);">상태</th>
                            <th style="background-color: rgba(0,0,0,0.1);">기간</th>
                            <th style="background-color: rgba(0,0,0,0.1);">요금</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for room in paging %}
                        <tr>
                            <td>{{ room.floor }}</td>
                            <td>{{ room.room_number }}</td>
                            <td>{{ room.type }}</td>
                            <td><span class="badge bg-info">{{ room.status }}</span></td>
                            <td>04/01 - 04/03</td>
                            <td>150,000</td>
                        </tr>
                        <tr>
                            <td>{{ room.floor }}</td>
                            <td>{{ room.room_number }}</td>
                            <td>{{ room.type }}</td>
                            <td><span class="badge bg-info">{{ room.status }}</span></td>
                            <td>04/02 - 04/04</td>
                            <td>210,000</td>
                        </tr>
                        <tr>
                            <td>{{ room.floor }}</td>
                            <td>{{ room.room_number }}</td>
                            <td>{{ room.type }}</td>
                            <td><span class="badge bg-info">{{ room.status }}</span></td>
                            <td>04/01 - 04/09</td>
                            <td>630,000</td>
                        </tr>
                        <tr>
                            <td>{{ room.floor }}</td>
                            <td>{{ room.room_number }}</td>
                            <td>{{ room.type }}</td>
                            <td><span class="badge bg-info">{{ room.status }}</span></td>
                            <td>04/02 - 04/08</td>
                            <td>420,000</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}